# API keys
.streamlit/
.env

react-frontend/.env

# virtual env
venv/



# Ignore all node_modules folders (including nested ones)
react-frontend/node_modules/
**/node_modules/
**/node_modules/**

__pycache__/
*.py[cod]